.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .image-containers {
    position: relative;
  }
  
  .image {
    width: 80%;
    height: auto;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 14px;
  }
  