@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

:root {
  background-image: url(../src/assets/Home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #013662;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  color: black;
  width: 781px;
  height: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-content h1 {
  background-color: #FFFCEF;
  width: 781px;
  height: 100%;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 33px;
  line-height: 150%;
  color: #013662;
}

.modal-content p {
  color: #FFFFFF;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.704);
  z-index: 1;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.img {
  width: 980px;
  height: 1000px;
}

.btn {
  background: #FFFCEF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #013662;
}

.btn a {
  font-weight: bold;
}

.p-4::-webkit-scrollbar {
  width: 7px;
  background-color: #417298;
}

.p-4::-webkit-scrollbar-thumb {
  background-color: #013662;
  border-radius: 10px;
}

.p-4::-webkit-scrollbar-track {
  border-radius: 10px;
}

.carousel {
  height: 400px;
}

.carousel-cell img {
  padding: 25px;
  margin: 5px;
  height: 350px;
}


.parentFaceForm {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.divF1 {
  grid-area: 1 / 1 / 6 / 7;
}

.divF2 {
  grid-area: 1 / 7 / 6 / 13;
}

.backgroundInput {
  background: rgb(255, 255, 255);
}

input[name="name"]::placeholder {
  color: black;
}

input[name="city"]::placeholder {
  color: black;
}

input[name="email"]::placeholder {
  color: black;
}

input[name="phone"]::placeholder {
  color: black;
}

textarea[name="message"]::placeholder {
  color: black;
}

.SomosContainer {
  /* pt-[200px] px-20 h-full mb-[150px] */
  padding-top: 200px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 150px;
}

.parentSomos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 22px;
}

.div1S {
  grid-area: 1 / 1 / 2 / 6;
}

.div2S {
  grid-area: 2 / 2 / 3 / 12;
}

.div3S {
  grid-area: 3 / 2 / 4 / 12;
}

.div4S {
  grid-area: 4 / 2 / 5 / 12;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

.div1 {
  grid-area: 1 / 6 / 2 / 8;
}

.div2 {
  grid-area: 2 / 7 / 9 / 13;
}

.div3 {
  grid-area: 2 / 1 / 9 / 7;
}

.div4 {
  grid-area: 3 / 8 / 8 / 12;
}

.div5 {
  grid-area: 3 / 2 / 4 / 6;
}

.div6 {
  grid-area: 4 / 2 / 5 / 6;
}

.div7 {
  grid-area: 5 / 2 / 6 / 6;
}

.div8 {
  grid-area: 6 / 2 / 7 / 6;
}

.div9 {
  grid-area: 7 / 2 / 8 / 6;
}

.parentDirect {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 21px;
  grid-row-gap: 16px;
}

.div1D {
  grid-area: 1 / 6 / 2 / 8;
}

.div2D {
  grid-area: 2 / 7 / 9 / 13;
}

.div3D {
  grid-area: 2 / 1 / 9 / 7;
}

.div4D {
  grid-area: 3 / 8 / 8 / 12;
}

.div5D {
  grid-area: 3 / 2 / 4 / 6;
}

.div6D {
  grid-area: 4 / 2 / 5 / 6;
}

.div7D {
  grid-area: 5 / 2 / 6 / 6;
}

.div8D {
  grid-area: 6 / 2 / 7 / 6;
}

.div9D {
  grid-area: 7 / 2 / 8 / 6;
}

.div10D {
  grid-area: 1 / 3 / 8 / 12;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../src/assets/ArbolVida2.png');
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-containers {
  position: relative;
}


.image-container:hover::before {
  opacity: 1;
}
@media (max-width : 118o0px){
  .parentDirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }

  .div2D,
  .div10D {
    display: none;
  }

  .div5D,
  .div6D,
  .div7D,
  .div8D,
  .div9D {
    width: 540px;

  }
}
@media (max-width : 1950px) {
  .parentDirect {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 16px;
  }
  
  .div1D {
    grid-area: 1 / 6 / 2 / 8;
  }
  
  .div2D {
    grid-area: 2 / 8 / 9 / 13;
  }
  
  .div3D {
    grid-area: 2 / 1 / 9 / 7;
  }
  
  .div4D {
    grid-area: 3 / 8 / 8 / 12;

  }

  .div5D {
    grid-area: 3 / 2 / 4 / 6;
  }
  
  .div6D {
    grid-area: 4 / 2 / 5 / 6;
  }
  
  .div7D {
    grid-area: 5 / 2 / 6 / 6;
  }
  
  .div8D {
    grid-area: 6 / 2 / 7 / 6;
  }
  
  .div9D {
    grid-area: 7 / 2 / 8 / 6;
  }
  
  .div10D {
    grid-area: 1 / 4 / 8 / 12;
  }
}
@media (max-width : 1550px) {
  .parentDirect {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 16px;
  }
  
  .div1D {
    grid-area: 1 / 6 / 2 / 8;

  }
  
  .div2D {
    grid-area: 2 / 7 / 9 / 13;
  }
  
  .div3D {
    grid-area: 2 / 1 / 9 / 7;
  }
  
  .div4D {
    grid-area: 3 / 8 / 8 / 12;

  }

  .div5D {
    grid-area: 3 / 2 / 4 / 6;
  }
  
  .div6D {
    grid-area: 4 / 2 / 5 / 6;
  }
  
  .div7D {
    grid-area: 5 / 2 / 6 / 6;
  }
  
  .div8D {
    grid-area: 6 / 2 / 7 / 6;
  }
  
  .div9D {
    grid-area: 7 / 2 / 8 / 6;
  }
  
  .div10D {
    grid-area: 1 / 3 / 8 / 12;
  }
}
@media (max-width : 968px) {
  .parentDirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }

  .div2D,
  .div10D {
    display: none;
  }

  .div5D,
  .div6D,
  .div7D,
  .div8D,
  .div9D {
    width: 540px;

  }
}

@media (max-width : 576px) {
  :root {
    background-image: url(../src/assets/mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
  }
  .SomosContainer {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }

  .parentSomos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 22px;
  }

  .div1S {
    grid-area: 1 / 1 / 2 / 13;
  }

  .div2S {
    grid-area: 2 / 1 / 3 / 13;
  }

  .div3S {
    grid-area: 3 / 1 / 4 / 13;
  }

  .div4S {
    grid-area: 4 / 1 / 5 / 13;
  }

  .parentDirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }

  .div2D,
  .div10D {
    display: none;
  }

  .div5D,
  .div6D,
  .div7D,
  .div8D,
  .div9D {
    width: 340px;

  }

  .imagen {
    width: 250px;
    height: 250px;
  }

  .image-container {
    width: 373px;
  }

  .parentArbol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1A {
    grid-area: 1 / 1 / 2 / 2;
  }

  .div2A {
    grid-area: 1 / 2 / 2 / 3;
  }

  .div3A {
    grid-area: 2 / 1 / 3 / 2;
  }

  .div4A {
    grid-area: 2 / 2 / 3 / 3;
  }
  .parentFaceForm {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .divF1 {
    grid-area: 1 / 1 / 6 / 7;
  }

  .divF2 {
    grid-area: 7 / 1 / 11 / 7;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image-containers {
    position: relative;
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 14px;
  }
}